<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title><%= htmlWebpackPlugin.options.title %></title>
	<link rel="icon" href="<%= htmlWebpackPlugin.options.baseurl %>resources/images/icon.png" type="image/x-icon">
</head>
<body>
	<div id="container" style="height:100%"></div>

	<script type="text/javascript" src="<%= htmlWebpackPlugin.options.baseurl %>resources/lib/react.min.js"></script>
	<script type="text/javascript" src="<%= htmlWebpackPlugin.options.baseurl %>resources/lib/react-dom.min.js"></script>
	<script type="text/javascript" src="<%= htmlWebpackPlugin.options.baseurl %>resources/lib/echarts.min.js"></script>
</body>
</html>
